body{
  font-family: 'CookieRun-Regular';
}

#titleParent{
  display:flex;
  margin-left: 150px;
  margin-bottom: 70px;
}

#title{
  font-family: 'GowunBatang-Regular';
  font-size: 30px;
  font-weight: 800;
  text-decoration-line:underline;
  text-decoration-color:#da6c63;
  margin-right: 15px;
}

.pageBreak{
  page-break-before: always;
}


#parent{
  display:flex;
  margin-bottom: 50px;
}

#first{
  width:500px;
  border: 1.5px solid;
  border-color:grey;
  border-radius: 5px;
  display:flex;
  margin-left: 150px;
  padding: 5px 5px 5px 5px;
}

.first{
  width:500px;
  border: 1.5px solid;
  border-color:grey;
  border-radius: 5px;
  display:flex;
  margin-left: 150px;
  padding: 5px 5px 5px 5px;
}

#image{
  position: relative;
  width:250px;
  height:250px;
}

#image img{
  position:absolute;
  top: 0;
  left: 0;
  transform: translate(50,50);
  width:100%;
  height:100%;
  object-fit: cover;
  margin: auto;
}

#content{
  margin-left: 20px;
}

#dogInformation{
  padding-left: 100px;
  padding-top: 100px;
  font-family: 'ONE-Mobile-POP';
}

@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'CookieRun-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}