#protected{
  padding-top: 100px;
  padding-left: 100px;
  font-family: 'ONE-Mobile-POP';
  //width:50%;
}

#page{
  text-align: center;
  font-size: 19px;
  padding-top: 100px;
  padding-bottom: 100px;
}

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
